In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv('dataset.csv')
#drop null values
df = df.dropna(how='any')
#reset index after dropping
df = df.reset_index(drop=True)
df[:6]

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           NCD19        8.930  ...  Supermarket Type1           994.7052
4           FDP36       10.395  ...  Supermarket Type2           556.6088
5           FDO10       13.650  ...  Supermarket Type1           343.5528

[6 rows x 12 columns]

In [2]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [3]:
priceByItem = df.groupby('Item_Type')
priceByItem.first()

                      Item_Identifier  ...  Item_Outlet_Sales
Item_Type                              ...
Baking Goods                    FDP36  ...           556.6088
Breads                          FDW11  ...           619.1940
Breakfast                       FDP49  ...          1547.3192
Canned                          FDC02  ...          6768.5228
Dairy                           FDA15  ...          3735.1380
Frozen Foods                    FDR28  ...          4078.0250
Fruits and Vegetables           FDY07  ...          1516.0266
Hard Drinks                     DRJ59  ...           308.9312
Health and Hygiene              NCB42  ...          1621.8888
Household                       NCD19  ...           994.7052
Meat                            FDN15  ...          2097.2700
Others                          NCM43  ...          2120.5730
Seafood                         FDH21  ...          1267.6832
Snack Foods                     FDO10  ...           343.5528
Soft Drinks                     DRC01  ...           443.4228
Starchy Foods                   FDB11  ...          6301.1312

[16 rows x 11 columns]