In [1]:
import pandas as pd
df = pd.read_csv('dataset.csv')

In [2]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [4]:
#access first row
df.apply(lambda x:x[0])

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                      0.0160473
Item_Type                                Dairy
Item_MRP                               249.809
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                      3735.14
dtype: object

In [5]:
#access the first column
df.apply(lambda x:x[0], axis=1)

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Length: 8523, dtype: object

In [7]:
#access through the column name
df.apply(lambda x: x['Item_Fat_Content'], axis=1)

0       Low Fat
1       Regular
2       Low Fat
3       Regular
4       Low Fat
         ...
8518    Low Fat
8519    Regular
8520    Low Fat
8521    Regular
8522    Low Fat
Length: 8523, dtype: object

In [9]:
#use apply to imply condition
#clip every cost > 200 to 200
#def clip_price(price)
#    if price>200:
#        price = 200
#    return price

In [10]:
#before clipping
df['Item_MRP'][:5]

0    249.8092
1     48.2692
2    141.6180
3    182.0950
4     53.8614
Name: Item_MRP, dtype: float64

In [11]:
#clipping
def clip_price(price):
    if price>200:
        price=200
    return price

df['Item_MRP'].apply(lambda x:clip_price(x))[:5]

0    200.0000
1     48.2692
2    141.6180
3    182.0950
4     53.8614
Name: Item_MRP, dtype: float64

In [13]:
df['Outlet_Location_Type'].head(10)

0    Tier 1
1    Tier 3
2    Tier 1
3    Tier 3
4    Tier 3
5    Tier 3
6    Tier 3
7    Tier 3
8    Tier 2
9    Tier 2
Name: Outlet_Location_Type, dtype: object

In [41]:
df['Outlet_Location_Type'] = pd.read_csv('dataset.csv')['Outlet_Location_Type']
df['Outlet_Location_Type'][:10]

0    Tier 1
1    Tier 3
2    Tier 1
3    Tier 3
4    Tier 3
5    Tier 3
6    Tier 3
7    Tier 3
8    Tier 2
9    Tier 2
Name: Outlet_Location_Type, dtype: object

In [42]:
#map Outlet_Location_Type as:
# Tier 1 = 0
# Tier 2 = 1
# Tier 3 = 2

def labelEncode(city):
    if city == 'Tier 1':
        label = 0
    elif city == 'Tier 2':
        label = 1
    else:
        label = 2
    return label

df["Outlet_Location_Type"] = df["Outlet_Location_Type"].apply(lambda x:labelEncode(x))
df["Outlet_Location_Type"][:10]

0    0
1    2
2    0
3    2
4    2
5    2
6    2
7    2
8    1
9    1
Name: Outlet_Location_Type, dtype: int64

In [43]:
df[:6]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,0,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,2,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,0,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,2,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,2,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,2,Supermarket Type2,556.6088