In [2]:
#division
a = 35/5
print(a)
a = 35//6
print(a)
a = 35/6
print(a)
a = 35%6
print(a)

7.0
5
5.833333333333333
5

In [3]:
'dhruv'+20

TypeError: can only concatenate str (not "int") to str

In [4]:
"dhruv"+"30"

'dhruv30'

In [6]:
'dhruv '*5

'dhruv dhruv dhruv dhruv dhruv '

In [7]:
'dhruv'*'5'

TypeError: can't multiply sequence by non-int of type 'str'

In [8]:
#greater than
45>34

True

In [10]:
45 < 34

False

In [11]:
45==45

True

In [12]:
# and operator
0 and 3

0

In [13]:
3 and 3

3

In [14]:
3 and 5

5

In [15]:
# or operator
0 or 0

0

In [16]:
0 or 3

3

In [17]:
3 or 9

3

In [18]:
3 and 9

9

In [19]:
9 and 3

3

In [21]:
isBool = 0
if(not isBool):
    isBool = 1
    print(isBool)

1

In [22]:
i=5
j=i
j=3
print(i)

5

In [23]:
print(i*5)

25

In [24]:
_i_v0 = 32;
print(_i_v0)

32

In [28]:
#print all numbers in between 10 to 50
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [30]:
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [31]:
#print btw 12,38 both included
for i in range(12,39):
    print(i)

12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38

In [33]:
#print 12 to 38 in intervals of 2
# range(a,b)   -> starts from a to b-1
# range(a,b,c) -> starts from a, a+c, a+2c........b-1
for i in range(12,39,2):
    print(i)

12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [35]:
#functions 
def circArea(rad):
    area = 3.14*rad*rad
    return area

area_with_rad_3 = circArea(3)
print(area_with_rad_3)

28.259999999999998