In [6]:
#pandas support various formats csv excel json
import pandas as pd

In [7]:
df = pd.read_csv('data.csv')

In [8]:
df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [10]:
df['policyID']

0        119736
1        448094
2        206893
3        333743
4        172534
          ...
36629    404309
36630    465875
36631    791209
36632    322627
36633    398149
Name: policyID, Length: 36634, dtype: int64

In [12]:
df.tail(6)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
36628,780814,FL,PINELLAS COUNTY,0.0,9770.4,0.0,9770.4,9770.4,9349.98,0.0,0.0,0.0,0,28.122885,-82.770218,Residential,Wood,3
36629,404309,FL,PINELLAS COUNTY,0.0,88722.0,0.0,88722.0,88722.0,155065.65,0.0,0.0,0.0,0,28.122885,-82.770218,Residential,Wood,3
36630,465875,FL,PINELLAS COUNTY,1297057.5,1297057.5,1297057.5,1297057.5,1297057.5,1577500.79,0.0,0.0,0.0,0,28.080900,-82.758800,Residential,Masonry,1
36631,791209,FL,PINELLAS COUNTY,173286.9,173286.9,0.0,0.0,173286.9,205527.97,0.0,0.0,0.0,0,28.110550,-82.766360,Residential,Wood,4
36632,322627,FL,PINELLAS COUNTY,1499781.6,1499781.6,0.0,0.0,1499781.6,1768782.43,0.0,0.0,0.0,0,28.089415,-82.697411,Residential,Masonry,3
36633,398149,FL,PINELLAS COUNTY,373488.3,373488.3,0.0,0.0,373488.3,596003.67,0.0,0.0,0.0,0,28.064440,-82.774590,Residential,Masonry,1

In [13]:
df.shape

(36634, 18)

In [14]:
df.size

659412

In [15]:
df.ndim

2

In [17]:
df.shape[0]

36634

In [20]:
df[['eq_site_limit', 'hu_site_deductible']]

       eq_site_limit  hu_site_deductible
0           498960.0              9979.2
1          1322376.3                 0.0
2           190724.4                 0.0
3                0.0                 0.0
4                0.0                 0.0
...              ...                 ...
36629            0.0                 0.0
36630      1297057.5                 0.0
36631       173286.9                 0.0
36632      1499781.6                 0.0
36633       373488.3                 0.0

[36634 rows x 2 columns]

In [22]:
df.columns

Index(['policyID', 'statecode', 'county', 'eq_site_limit', 'hu_site_limit',
       'fl_site_limit', 'fr_site_limit', 'tiv_2011', 'tiv_2012',
       'eq_site_deductible', 'hu_site_deductible', 'fl_site_deductible',
       'fr_site_deductible', 'point_latitude', 'point_longitude', 'line',
       'construction', 'point_granularity'],
      dtype='object')

In [23]:
# :5 represents select 5 rows[0,1,2,3,4]
df.iloc[:5]

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [24]:
# only 2 columns
df.iloc[:,:2]

       policyID statecode
0        119736        FL
1        448094        FL
2        206893        FL
3        333743        FL
4        172534        FL
...         ...       ...
36629    404309        FL
36630    465875        FL
36631    791209        FL
36632    322627        FL
36633    398149        FL

[36634 rows x 2 columns]

In [32]:
 #perform operations on columns
  df[df['hu_site_deductible']!=0.0].shape[0]

4478

In [36]:
#access 3rd column of df
df.iloc[:,2:3]

                county
0          CLAY COUNTY
1          CLAY COUNTY
2          CLAY COUNTY
3          CLAY COUNTY
4          CLAY COUNTY
...                ...
36629  PINELLAS COUNTY
36630  PINELLAS COUNTY
36631  PINELLAS COUNTY
36632  PINELLAS COUNTY
36633  PINELLAS COUNTY

[36634 rows x 1 columns]

In [43]:
#access the last two columns of df
df.iloc[:,-3:-1]

              line construction
0      Residential      Masonry
1      Residential      Masonry
2      Residential         Wood
3      Residential         Wood
4      Residential         Wood
...            ...          ...
36629  Residential         Wood
36630  Residential      Masonry
36631  Residential         Wood
36632  Residential      Masonry
36633  Residential      Masonry

[36634 rows x 2 columns]

In [45]:
#last 10 rows of first two columns
df.iloc[-11:-1,:2]

       policyID statecode
36623    592170        FL
36624    827844        FL
36625    876385        FL
36626    167630        FL
36627    241496        FL
36628    780814        FL
36629    404309        FL
36630    465875        FL
36631    791209        FL
36632    322627        FL