In [4]:
#sets are unchangable, unordered, iterable data structure
# sets do not contain duplicate items
# new items can be added to the set

In [5]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [6]:
set_var = {'ironman', 'avengers', 'hulk'}
print(set_var)
type(set_var)

{'ironman', 'avengers', 'hulk'}

set

In [7]:
#INDEXING not possible in SET
set_var(0)

TypeError: 'set' object is not callable

In [8]:
set_var.add('hulk')
print(set_var)

{'ironman', 'avengers', 'hulk'}

In [10]:
set_1 = {'ironman', 'avengers', 'hulk'}
set_2 = {'ironman', 'avengers', 'hulk', 'avengers2'}

In [11]:
#INTERSECTION
set_1.intersection(set_2)

{'avengers', 'hulk', 'ironman'}

In [12]:
#DIFFERENCE
set_1.difference(set_2)

set()

In [13]:
set_2.difference(set_1)

{'avengers2'}

In [15]:
set_1.difference_update(set_2)
print(set_1)

set()

In [16]:
set_1

set()

In [17]:
print(set_1)

set()

In [18]:
#dictionary

In [19]:
dict = {"c1":"BMW", "c2":"Audi", "c3":"Mercedes"}
for x in dict:
    print(x)

c1
c2
c3

In [20]:
for r in dict.values():
    print(r)

BMW
Audi
Mercedes

In [22]:
dict["c3"]

'Mercedes'