In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [7]:
#when multiple columns are passed first column is given preference then the second column
sorted_fl_site_limit = df.sort_values(by=['fl_site_limit', 'fr_site_limit'], ascending=False)
sorted_fl_site_limit[:5]

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
14102,340585,FL,ORANGE COUNTY,2.160000e+09,2.160000e+09,2.160000e+09,2.160000e+09,2.160000e+09,1.701000e+09,0.0,0.0,0.0,0,28.394620,-81.572720,Commercial,Steel Frame,4
14096,166901,FL,ORANGE COUNTY,1.701000e+09,1.701000e+09,1.701000e+09,1.701000e+09,1.701000e+09,1.584000e+09,0.0,0.0,0.0,0,28.357460,-81.593071,Commercial,Steel Frame,4
12897,594469,FL,ORANGE COUNTY,1.017000e+09,1.017000e+09,1.017000e+09,1.017000e+09,1.017000e+09,8.883000e+08,0.0,0.0,0.0,0,28.573132,-81.369820,Commercial,Steel Frame,1
13540,135077,FL,ORANGE COUNTY,6.552000e+08,6.552000e+08,6.552000e+08,6.552000e+08,6.552000e+08,5.580000e+08,0.0,0.0,0.0,0,28.450022,-81.456139,Commercial,Steel Frame,1
13830,425212,FL,ORANGE COUNTY,6.345000e+08,6.345000e+08,6.345000e+08,6.345000e+08,6.345000e+08,5.832000e+08,0.0,0.0,0.0,0,28.543095,-81.221676,Commercial,Steel Frame,1

In [8]:
#inplace does sorting in original df
df.sort_values(by='fr_site_limit', ascending=False, inplace=True)
df[:6]

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
14102,340585,FL,ORANGE COUNTY,2.160000e+09,2.160000e+09,2.160000e+09,2.160000e+09,2.160000e+09,1.701000e+09,0.0,0.0,0.0,0,28.394620,-81.572720,Commercial,Steel Frame,4
14096,166901,FL,ORANGE COUNTY,1.701000e+09,1.701000e+09,1.701000e+09,1.701000e+09,1.701000e+09,1.584000e+09,0.0,0.0,0.0,0,28.357460,-81.593071,Commercial,Steel Frame,4
12897,594469,FL,ORANGE COUNTY,1.017000e+09,1.017000e+09,1.017000e+09,1.017000e+09,1.017000e+09,8.883000e+08,0.0,0.0,0.0,0,28.573132,-81.369820,Commercial,Steel Frame,1
13540,135077,FL,ORANGE COUNTY,6.552000e+08,6.552000e+08,6.552000e+08,6.552000e+08,6.552000e+08,5.580000e+08,0.0,0.0,0.0,0,28.450022,-81.456139,Commercial,Steel Frame,1
13830,425212,FL,ORANGE COUNTY,6.345000e+08,6.345000e+08,6.345000e+08,6.345000e+08,6.345000e+08,5.832000e+08,0.0,0.0,0.0,0,28.543095,-81.221676,Commercial,Steel Frame,1
17227,331154,FL,MIAMI DADE COUNTY,5.508000e+08,5.508000e+08,5.508000e+08,5.508000e+08,5.508000e+08,8.739000e+08,0.0,2.7,2.7,0,25.957620,-80.238560,Commercial,Steel Frame,1

In [10]:
#the sort_index replaces the modified df by original df
df.sort_index(inplace=True)
df[:6]

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Masonry,3

In [12]:
sortByPolId = df.sort_values(by='policyID')
sortByPolId

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
17865,100074,FL,BROWARD COUNTY,0.0,44665.57,0.0,0.0,44665.57,36878.76,0.0,0.0,0.0,0,26.244300,-80.267400,Residential,Wood,3
34833,100123,FL,CITRUS COUNTY,4374.0,4374.00,4374.0,4374.0,4374.00,6774.39,0.0,0.0,0.0,0,28.835960,-82.344559,Residential,Wood,1
1494,100141,FL,DUVAL COUNTY,494802.0,494802.00,494802.0,494802.0,494802.00,559055.01,0.0,0.0,0.0,0,30.140441,-81.523513,Residential,Masonry,4
7534,100183,FL,OKALOOSA COUNTY,0.0,52032.55,0.0,0.0,52032.55,75451.36,0.0,0.0,0.0,0,30.711832,-86.570244,Residential,Wood,1
34480,100203,FL,SARASOTA COUNTY,0.0,220993.74,0.0,0.0,220993.74,314625.69,0.0,0.0,0.0,0,27.080140,-82.373480,Residential,Wood,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35572,999908,FL,MARION COUNTY,72084.6,72084.60,72084.6,72084.6,72084.60,73563.06,0.0,0.0,0.0,0,29.081600,-82.281650,Residential,Wood,3
6886,999934,FL,ESCAMBIA COUNTY,0.0,120360.03,0.0,0.0,120360.03,154963.54,0.0,0.0,0.0,0,30.426400,-87.222900,Residential,Wood,4
8170,999959,FL,ESCAMBIA COUNTY,0.0,66150.00,0.0,66150.0,66150.00,87957.27,0.0,0.0,0.0,0,30.334494,-87.133621,Residential,Wood,1
36261,999970,FL,PASCO COUNTY,0.0,530317.42,0.0,0.0,530317.42,669759.08,0.0,0.0,0.0,0,28.267729,-82.692047,Residential,Masonry,1
1674,999971,FL,VOLUSIA COUNTY,0.0,208962.00,0.0,208962.0,208962.00,232532.91,0.0,10448.1,0.0,0,29.212210,-81.071170,Residential,Wood,1